# Logs
logs
*.log

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
report.html
dist-ssr
*.local

# Editor directories and files
.vscode/*
.cache
.yicode/auto-imports.d.ts
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
