$胭脂红: linear-gradient(#ff9569, #e92758);
$宝石蓝: linear-gradient(#29bdd9, #276ace);
$天蓝: linear-gradient(#2980b9, #6dd5fa, white);
$深海蓝: linear-gradient(#0575e6, #021b79);
$火红: linear-gradient(#f12711, #f5af19);
$极光绿: linear-gradient(#1f4037, #99f2c8);
$荧光绿: linear-gradient(#a8ff78, #78ffd6);
$雅紫: linear-gradient(#8e2de2, #4a00e0);
$米白: linear-gradient(#ffefba, white);
$紫红: linear-gradient(#da4453, #89216b);
$暗绿: linear-gradient(#3c3b3f, #605c3c);
$紫灰: linear-gradient(#1f1c2c, #928dab);
$芒果黄: linear-gradient(#ffe259, #ffa751);
$靛蓝: linear-gradient(#4481eb, #04befe);
$霾灰: linear-gradient(#bdc3c7, #2c3e50);
$军绿: linear-gradient(#414d0b, #727a17);
$黛蓝: linear-gradient(#16222a, #3a6073);
$樱花粉: linear-gradient(#ee9ca7, #ffdde1);
$芭比粉: linear-gradient(#bc4e9c, #f80759);
$墨色: linear-gradient(#0f2027, #203a43, #2c5364);
$胭脂粉: linear-gradient(#ff5f6d, #ffc371);
$牵牛花: linear-gradient(#eecda3, #ef629f);
$红海: linear-gradient(#1d4350, #a43931);
$湖蓝: linear-gradient(#30cfd0, #330867);
$黄河: linear-gradient(#f1f2b5, #135058);
$怦然心动: linear-gradient(#ffb199, #ff0844);
$香槟金: linear-gradient(#a27848, #f3e59a, #a77e47);
$青出于蓝: linear-gradient(#5433ff, #20bdff, #a5fecb);
$灯红酒绿: linear-gradient(#659999, #f4791f);
$夏日缤纷: linear-gradient(#22c1c3, #fdbb2d);
$半熟香蕉: linear-gradient(#799f0c, #ffe000);
