* {
    padding: 0;
    border: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-appearance: none;
}
// ::-webkit-scrollbar {
//     width: 10px;
//     height: 10px;
// }
// ::-webkit-scrollbar-track {
//     border-radius: 5px;
// }
// ::-webkit-scrollbar-track-piece {
//     border-radius: 5px;
// }
// ::-webkit-scrollbar-thumb {
//     border-radius: 5px;
//     border: 3px solid transparent;
//     background-color: rgba(190, 190, 190, 0.4);
//     background-clip: padding-box;
// }

html,
body {
    width: 100vw;
}

a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

.app {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.link {
    color: #2588ff;
}

.wrapper {
    max-width: $layout-wrapper-width;
    margin: 0 auto;
    height: 100%;
    padding: 0 15px;
}
